<div class="border flex p-4 gap-2 hover:border-l-[10px] hover:border-l-slate-700 bg-slate-200 mb-4 relative z-20">
    <ng-content select="[foodImg]"></ng-content>
    <div class="relative w-full flex flex-col justify-center gap-3">
        <h4 class="font-bold text-lg">
            <ng-content select="[foodName]"></ng-content>
        </h4>
        <p>
            <ng-content select="[foodDescription]"></ng-content>
        </p>

        <div class="flex gap-2">
            <button class="px-2 py-1 border rounded-full bg-white hover:scale-110"><i class="bi bi-geo-alt-fill"></i></button>
            <button class="px-2 py-1 border rounded-full bg-white hover:scale-110 "> 
                <ng-content select="[foodRating]"></ng-content> 
            <i class="bi bi-star-fill"></i></button>
            <button class="px-3 py-1 bg-white shadow-md rounded-full grow hover:scale-110">Order Now</button>
        </div>


    </div>
    <div class="absolute m-2 lg:right-0 px-1 bg-white bg-opacity-75 lg:bg-transparent font-semibold text-xl ">
        <ng-content select="[price]"></ng-content>
    </div>
</div>

