<nav class="w-full bg-slate-500 fixed top-0 z-30">
    <div class="container flex justify-between max-w-5xl mx-auto items-center py-3 text-white ">

        <div class=" text-xl inline-flex gap-2 ml-2 md:ml-0 items-center">
            <img src="https://logo.com/image-cdn/images/kts928pd/production/b374a124fc505ab3255fadae257d90e8e4a4855e-449x432.png?w=1080&q=72" width="40" class="rounded-full">
            Brand Name
        </div>

        <ul class="inline-flex gap-3 text-lg mr-2 md:mr-0 ">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
       
    </div>
</nav>